* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #f2f5f9;
}

/* TOP BAR */

.top-bar {
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top-bar h2 {
    margin: 0;
    padding: 20px;
    font-size: 50px;
    white-space: nowrap;   /* prevents text wrapping */
}


.logout-btn {
    background-color: white;
    color: #003366;
    border: none;
    width: 90px;           /* fixed width */
    height: 32px;          /* fixed height */
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

/* FORM SECTIONS */
.section {
    width: 66%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border-radius: 6px;
}

.section h3 {
    margin-bottom: 20px;
    color: #003366;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 14px;
    font-size: 14px;
}

textarea {
    height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
